.product {
    border: 1px solid #000000;

    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    margin-left: 500px;
  }
  .button {
    background-color: #ec6a6a;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
      border-radius: 12px;
  }
  .product img {
    max-width: 100px;
    max-height: 200px;
    margin-right: 200px;
  }
  h2{
    font-family: 'Arial Narrow', Arial, sans-serif;
     color: aliceblue;
  }
  h1{
    font-family: 'Arial Narrow', Arial, sans-serif;
     color: aliceblue;
  }
  span{
    font-family: 'Arial Narrow', Arial, sans-serif;
     color: aliceblue;
     }